<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KellermanSoftware" version="1.0.2.0" targetFramework="net40" />
  <package id="MOQ" version="3.1.0.0" targetFramework="net40" />
  <package id="Habitat.Server.DataClient" version="1.1.1" targetFramework="net40" />
  <package id="ProTeck.Config.Dto" version="1.0.1" targetFramework="net40" />
  <package id="ProTeck.Core" version="2.1.0" targetFramework="net40" />
  <package id="ProTeck.Core.TestingLibrary" version="1.0.4" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="TPLExtensions" version="1.2.0.0" targetFramework="net40" />
</packages>