<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ProTeck.Config.Dto" version="1.0.1" targetFramework="net40" />
  <package id="ProTeck.Core" version="2.1.0" targetFramework="net40" />
  <package id="routedebugger" version="1.0.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
</packages>