<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40-Client" />
  <package id="MOQ" version="3.1.0.0" targetFramework="net40-Client" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net40" />
  <package id="NServiceBus" version="3.3.0" targetFramework="net40" />
  <package id="NServiceBus.Host" version="3.3.0" targetFramework="net40" />
  <package id="NServiceBus.Interfaces" version="3.3.0" targetFramework="net40" />
  <package id="NServiceBus.NHibernate" version="3.3.0" targetFramework="net40" />
  <package id="NServiceBus.Testing" version="3.3.0" targetFramework="net40" />
  <package id="Habitat.Server.DataClient" version="1.1.1" targetFramework="net40" />
  <package id="ProTeck.Config.Dto" version="1.0.1" targetFramework="net40" />
  <package id="ProTeck.Core" version="2.1.0" targetFramework="net40" />
  <package id="ProTeck.Core.NServiceBus" version="1.1.0" targetFramework="net40" />
  <package id="ProTeck.Core.TestingLibrary" version="1.0.4" targetFramework="net40" />
  <package id="ProTeck.Core.TestingLibrary.NServiceBus" version="1.0.1" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40-Client" />
  <package id="TPLExtensions" version="1.2.0.0" targetFramework="net40" />
</packages>